# Strings and format

In [2]:
s = "Un Noël à Paris en été"

In [3]:
print(s, "et", 12, "mois")

Un Noël à Paris en été et 12 mois

In [4]:
import math

In [5]:
print('le module math est:', math)

le module math est: <module 'math' (built-in)>

In [7]:
class Person:
    pass

personne = Person()

In [9]:
print(personne)

<__main__.Person object at 0x0000021F86728588>

In [10]:
# on peut donc aussi mettre des appels de fonction
notes = [12, 15, 19]
f"nous avons pour l'instant {len(notes)} notes"

"nous avons pour l'instant 3 notes"

In [18]:
s1 = f"""
the first sentence is : {s} 
the length of this sentence is : {len(s)}
the number of character e is: {s.count('e')+s.count('é')+s.count('è')+s.count('ê')+s.count('ë')}
"""

In [19]:
print(s1)

the first sentence is : Un Noël à Paris en été
the length of this sentence is : 22
the number of character e is: 4

## format

In [11]:
firstname, lastname, age = 'Jean', "Dupont", 28

In [20]:
"nom: {}, prenom: {}, age: {}".format(lastname, firstname,age)

'nom: Dupont, prenom: Jean, age: 28'

### format by position

In [22]:
"age: {2} ans, nom: {0}, prenom: {1}".format(lastname, firstname,age)

'age: 28 ans, nom: Dupont, prenom: Jean'

### % operator

used in a lot of code

In [23]:
person2 = {"first_name": firstname, "last_name": lastname, "_age": age}

In [24]:
person2

{'_age': 28, 'first_name': 'Jean', 'last_name': 'Dupont'}

In [27]:
type(personne)

__main__.Person

In [28]:
type(person2)

dict

In [30]:
"%(first_name)s, %(last_name)s, %(_age)s ans" % person2

'Jean, Dupont, 28 ans'

In [31]:
from math import pi

In [33]:
f"pi with precision 2 {pi:.2f}"

'pi with precision 2 3.14'

In [35]:
"pi with precision 2: {:.2f}".format(pi)

'pi with precision 2: 3.14'

## 0 padding

In [42]:
x = 0x16

In [43]:
x

22

In [44]:
f"{x:010d}"

'0000000022'

## Fixed width

In [56]:
# les données à afficher
comptes = [
 ('Apollin Philippe Julien', 'Dupont', 127),
 ('Myrtille', 'Lamartine de Lamartine', 25432),
 ('Prune', 'Soc', 827465123456789),
]
print(f"list size: {len(comptes)}")

for prenom, nom, solde in comptes:
    print(f"{prenom:<40} -- {nom:^24} -- {solde:>18} €")

list size: 3
Apollin Philippe Julien                  --          Dupont          --                127 €
Myrtille                                 --  Lamartine de Lamartine  --              25432 €
Prune                                    --           Soc            --    827465123456789 €

## Documentation

https://docs.python.org/3/library/string.html#formatstrings and examples here : https://docs.python.org/3/library/string.html#format-examples