# Hash and Dictionary

Documentation on dict : https://docs.python.org/3/library/stdtypes.html#mapping-types-dict

In [2]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
a == b == c == d == e

True

In [3]:
a

{'one': 1, 'two': 2, 'three': 3}

In [4]:
b

{'one': 1, 'two': 2, 'three': 3}

In [5]:
type(a)

dict

In [6]:
type(a.items())

dict_items

In [7]:
a.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [8]:
f = {"two": 2.0, "three": 3.00, "four": 4.0}

In [9]:
f

{'two': 2.0, 'three': 3.0, 'four': 4.0}

## Update a dict from another dict

In [10]:
a.update(f)

In [11]:
a

{'one': 1, 'two': 2.0, 'three': 3.0, 'four': 4.0}

## collections.defaultdict : initialization

### Not an elegant example

In [12]:
tuples = [
    (1, 2),
    (2, 1),
    (1, 3),
    (2, 4),
]

In [13]:
tuples

[(1, 2), (2, 1), (1, 3), (2, 4)]

In [15]:
outcome_dict = {}

for x, y in tuples:
    if x not in outcome_dict:
        outcome_dict[x] = []
    outcome_dict[x].append(y)

for key, value in outcome_dict.items():
    print(key, value)

1 [2, 3]
2 [1, 4]

### Use defaultdict collection to define the type of the values

In [16]:
tuples = [
    (1, 2),
    (2, 7),
    (1, 3),
    (2, 4),
    (2, 11),
    (5, 12),
    (5, 41),
    (1, 14),
    (8, 19),
]

In [17]:
from collections import defaultdict

outcome_dict2 = defaultdict(list)

# No need to check if the key exists
for x, y in tuples:
    outcome_dict2[x].append(y)

for key, value in outcome_dict2.items():
    print(key, value)

1 [2, 3, 14]
2 [7, 4, 11]
5 [12, 41]
8 [19]

In [23]:
char_count = defaultdict(int)
word_count = defaultdict(int)

sentence = """I must say? you are quite a clever one
I probably won't be of much help.
it's a one versus one
"""

for c in sentence:
    char_count[c] += 1

for word in sentence.split():
    word_count[word] += 1

In [24]:
char_count

defaultdict(int,
            {'I': 2,
             ' ': 18,
             'm': 2,
             'u': 5,
             's': 5,
             't': 4,
             'a': 5,
             'y': 3,
             '?': 1,
             'o': 7,
             'r': 4,
             'e': 10,
             'q': 1,
             'i': 2,
             'c': 2,
             'l': 3,
             'v': 2,
             'n': 4,
             '\n': 3,
             'p': 2,
             'b': 3,
             'w': 1,
             "'": 2,
             'f': 1,
             'h': 2,
             '.': 1})

In [25]:
word_count

defaultdict(int,
            {'I': 2,
             'must': 1,
             'say?': 1,
             'you': 1,
             'are': 1,
             'quite': 1,
             'a': 2,
             'clever': 1,
             'one': 3,
             'probably': 1,
             "won't": 1,
             'be': 1,
             'of': 1,
             'much': 1,
             'help.': 1,
             "it's": 1,
             'versus': 1})

## Dictionary view objects

dict.keys(), dict.values() and dict.items() are view objects.

they provide dynamic view on dict entries

## Dict comprehension example

In [28]:
people = [
    {'name': 'Pierre',  'age': 25, 'email': 'avf@ccc.com'},
    {'name': 'Paul',    'age': 18, 'email': 'sdf@aaaaaa.com'},
    {'name': 'Jacques', 'age': 52, 'email': 'sfsddsa.afez@example.com'},
]

In [29]:
index_by_name = {person['name']:person for person in people}

In [31]:
index_by_name

{'Pierre': {'name': 'Pierre', 'age': 25, 'email': 'avf@ccc.com'},
 'Paul': {'name': 'Paul', 'age': 18, 'email': 'sdf@aaaaaa.com'},
 'Jacques': {'name': 'Jacques',
  'age': 52,
  'email': 'sfsddsa.afez@example.com'}}

In [32]:
index_by_name['Pierre']['age']

25

## Implementation with Class (from Inria Python 3 classes)

In [42]:
class Personne:

    # le constructeur - vous ignorez le paramètre self,
    # 3 paramètres
    def __init__(self, name, age, email):
        self.name = name
        self.age = age
        self.email = email

    # je définis cette méthode pour avoir
    # quelque chose de lisible quand je print()
    def __repr__(self):
        return f"{self.name} ({self.age} years) contact@ {self.email}"

In [43]:
personnes2 = [
    Personne('Pierre',  25, 'pierre@example.com'),
    Personne('Paul',    18, 'paul@example.com'),
    Personne('Jacques', 52, 'jacques@example.com'),
]

In [44]:
personnes2

[Pierre (25 years) contact@ pierre@example.com,
 Paul (18 years) contact@ paul@example.com,
 Jacques (52 years) contact@ jacques@example.com]

In [46]:
index2 = {personne.name : personne for personne in personnes2}

In [47]:
index2

{'Pierre': Pierre (25 years) contact@ pierre@example.com,
 'Paul': Paul (18 years) contact@ paul@example.com,
 'Jacques': Jacques (52 years) contact@ jacques@example.com}

In [48]:
index2['Paul']

Paul (18 years) contact@ paul@example.com

## Exo 2

In [1]:
extended = [[255801560, 49.3815, -4.412167, '2013-10-08T21:51:00', 'AUTOPRIDE', 'PT', '', 'ZEEBRUGGE'],
           [227844000, 47.23206, -2.913887, '2013-10-08T21:51:00', 'NEPTUNE III', 'FR', '', ''],
           [227254910, 49.94479, -5.137455, '2013-10-08T21:51:00', 'LAURELINE', 'FR', '', 'CHERBOURG'],]

In [2]:
len(extended)

3

In [3]:
abbreviated = [[227844000, 47.13057, -3.126982, '2013-10-08T22:58:00'],
              [992271012, 47.64748, -3.509307, '2013-10-08T22:56:00'],
              [255801560, 49.25383, -4.784833, '2013-10-08T22:59:00'],]

In [4]:
import json
with open("marine-e1-ext.json", "r", encoding="utf-8") as json_extended:
    extended_full = json.load(json_extended)

with open("marine-e1-abb.json", "r", encoding= "utf-8") as json_abbreviated:
    abbreviated_full = json.load(json_abbreviated)

In [5]:
len(extended_full)

132

In [6]:
len(abbreviated_full)

132

In [8]:
extended_full[0]

[992271012,
 47.64744,
 -3.509282,
 '2013-10-08T21:50:00',
 'PENMEN',
 'FR',
 '',
 '',
 '',
 '',
 '',
 10,
 10,
 0,
 '',
 '',
 '']

In [9]:
def merge(extended, abbreviated):
    pass

In [11]:
len(extended + abbreviated)

6

In [18]:
{boat[0]: boat[0] for boat in extended + abbreviated}

{255801560: 255801560,
 227844000: 227844000,
 227254910: 227254910,
 992271012: 992271012}

In [20]:
[boat[0] for boat in extended + abbreviated]

[255801560, 227844000, 227254910, 227844000, 992271012, 255801560]

### Convert a list to a tuple

In [28]:
tuple(extended[1][1:4])

(47.23206, -2.913887, '2013-10-08T21:51:00')

### Use defaultdict from collections to initialize a list value dict

In [ ]:
from collections import defaultdict

merged_boat = defaultdict(list)

merged_boat

for boat in extended + abbreviated:
    merged_boat[boat[0]].append(tuple(boat[1:4]))

In [33]:
merged_boat

defaultdict(list,
            {255801560: [(49.3815, -4.412167, '2013-10-08T21:51:00'),
              (49.25383, -4.784833, '2013-10-08T22:59:00')],
             227844000: [(47.23206, -2.913887, '2013-10-08T21:51:00'),
              (47.13057, -3.126982, '2013-10-08T22:58:00')],
             227254910: [(49.94479, -5.137455, '2013-10-08T21:51:00')],
             992271012: [(47.64748, -3.509307, '2013-10-08T22:56:00')]})

In [27]:
tuple(extended[1][1:4])

(47.23206, -2.913887, '2013-10-08T21:51:00')

Check if a boat is already in the merged dictionary

In [43]:
255801560 in merged_boat

True

In [47]:
from collections import defaultdict

merged_boat = defaultdict(list)

# merged_boat

for boat in extended:
    if boat[0] not in merged_boat:
        merged_boat[boat[0]].extend([boat[4], boat[5]])
    merged_boat[boat[0]].append(tuple(boat[1:4]))

for boat in abbreviated:
    merged_boat[boat[0]].append(tuple(boat[1:4]))

In [48]:
merged_boat

defaultdict(list,
            {255801560: ['AUTOPRIDE',
              'PT',
              (49.3815, -4.412167, '2013-10-08T21:51:00'),
              (49.25383, -4.784833, '2013-10-08T22:59:00')],
             227844000: ['NEPTUNE III',
              'FR',
              (47.23206, -2.913887, '2013-10-08T21:51:00'),
              (47.13057, -3.126982, '2013-10-08T22:58:00')],
             227254910: ['LAURELINE',
              'FR',
              (49.94479, -5.137455, '2013-10-08T21:51:00')],
             992271012: [(47.64748, -3.509307, '2013-10-08T22:56:00')]})

In [43]:
255801560 in merged_boat

True