# Hash and Dictionary

Documentation on dict : https://docs.python.org/3/library/stdtypes.html#mapping-types-dict

In [2]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
a == b == c == d == e

True

In [3]:
a

{'one': 1, 'two': 2, 'three': 3}

In [4]:
b

{'one': 1, 'two': 2, 'three': 3}

In [5]:
type(a)

dict

In [6]:
type(a.items())

dict_items

In [7]:
a.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [8]:
f = {"two": 2.0, "three": 3.00, "four": 4.0}

In [9]:
f

{'two': 2.0, 'three': 3.0, 'four': 4.0}

## Update a dict from another dict

In [10]:
a.update(f)

In [11]:
a

{'one': 1, 'two': 2.0, 'three': 3.0, 'four': 4.0}

## collections.defaultdict : initialization

### Not an elegant example

In [12]:
tuples = [
    (1, 2),
    (2, 1),
    (1, 3),
    (2, 4),
]

In [13]:
tuples

[(1, 2), (2, 1), (1, 3), (2, 4)]

In [15]:
outcome_dict = {}

for x, y in tuples:
    if x not in outcome_dict:
        outcome_dict[x] = []
    outcome_dict[x].append(y)

for key, value in outcome_dict.items():
    print(key, value)

1 [2, 3]
2 [1, 4]

### Use defaultdict collection to define the type of the values

In [16]:
tuples = [
    (1, 2),
    (2, 7),
    (1, 3),
    (2, 4),
    (2, 11),
    (5, 12),
    (5, 41),
    (1, 14),
    (8, 19),
]

In [17]:
from collections import defaultdict

outcome_dict2 = defaultdict(list)

# No need to check if the key exists
for x, y in tuples:
    outcome_dict2[x].append(y)

for key, value in outcome_dict2.items():
    print(key, value)

1 [2, 3, 14]
2 [7, 4, 11]
5 [12, 41]
8 [19]

In [23]:
char_count = defaultdict(int)
word_count = defaultdict(int)

sentence = """I must say? you are quite a clever one
I probably won't be of much help.
it's a one versus one
"""

for c in sentence:
    char_count[c] += 1

for word in sentence.split():
    word_count[word] += 1

In [24]:
char_count

defaultdict(int,
            {'I': 2,
             ' ': 18,
             'm': 2,
             'u': 5,
             's': 5,
             't': 4,
             'a': 5,
             'y': 3,
             '?': 1,
             'o': 7,
             'r': 4,
             'e': 10,
             'q': 1,
             'i': 2,
             'c': 2,
             'l': 3,
             'v': 2,
             'n': 4,
             '\n': 3,
             'p': 2,
             'b': 3,
             'w': 1,
             "'": 2,
             'f': 1,
             'h': 2,
             '.': 1})

In [25]:
word_count

defaultdict(int,
            {'I': 2,
             'must': 1,
             'say?': 1,
             'you': 1,
             'are': 1,
             'quite': 1,
             'a': 2,
             'clever': 1,
             'one': 3,
             'probably': 1,
             "won't": 1,
             'be': 1,
             'of': 1,
             'much': 1,
             'help.': 1,
             "it's": 1,
             'versus': 1})

## Dictionary view objects

dict.keys(), dict.values() and dict.items() are view objects.

they provide dynamic view on dict entries

## Dict comprehension example

In [28]:
people = [
    {'name': 'Pierre',  'age': 25, 'email': 'avf@ccc.com'},
    {'name': 'Paul',    'age': 18, 'email': 'sdf@aaaaaa.com'},
    {'name': 'Jacques', 'age': 52, 'email': 'sfsddsa.afez@example.com'},
]

In [29]:
index_by_name = {person['name']:person for person in people}

In [31]:
index_by_name

{'Pierre': {'name': 'Pierre', 'age': 25, 'email': 'avf@ccc.com'},
 'Paul': {'name': 'Paul', 'age': 18, 'email': 'sdf@aaaaaa.com'},
 'Jacques': {'name': 'Jacques',
  'age': 52,
  'email': 'sfsddsa.afez@example.com'}}

In [32]:
index_by_name['Pierre']['age']

25

## Implementation with Class (from Inria Python 3 classes)

In [42]:
class Personne:

    # le constructeur - vous ignorez le paramètre self,
    # 3 paramètres
    def __init__(self, name, age, email):
        self.name = name
        self.age = age
        self.email = email

    # je définis cette méthode pour avoir
    # quelque chose de lisible quand je print()
    def __repr__(self):
        return f"{self.name} ({self.age} years) contact@ {self.email}"

In [43]:
personnes2 = [
    Personne('Pierre',  25, 'pierre@example.com'),
    Personne('Paul',    18, 'paul@example.com'),
    Personne('Jacques', 52, 'jacques@example.com'),
]

In [44]:
personnes2

[Pierre (25 years) contact@ pierre@example.com,
 Paul (18 years) contact@ paul@example.com,
 Jacques (52 years) contact@ jacques@example.com]

In [46]:
index2 = {personne.name : personne for personne in personnes2}

In [47]:
index2

{'Pierre': Pierre (25 years) contact@ pierre@example.com,
 'Paul': Paul (18 years) contact@ paul@example.com,
 'Jacques': Jacques (52 years) contact@ jacques@example.com}

In [48]:
index2['Paul']

Paul (18 years) contact@ paul@example.com

## Exo 2

In [1]:
extended = [[255801560, 49.3815, -4.412167, '2013-10-08T21:51:00', 'AUTOPRIDE', 'PT', '', 'ZEEBRUGGE'],
           [227844000, 47.23206, -2.913887, '2013-10-08T21:51:00', 'NEPTUNE III', 'FR', '', ''],
           [227254910, 49.94479, -5.137455, '2013-10-08T21:51:00', 'LAURELINE', 'FR', '', 'CHERBOURG'],]

In [2]:
len(extended)

3

In [3]:
abbreviated = [[227844000, 47.13057, -3.126982, '2013-10-08T22:58:00'],
              [992271012, 47.64748, -3.509307, '2013-10-08T22:56:00'],
              [255801560, 49.25383, -4.784833, '2013-10-08T22:59:00'],]

In [4]:
import json
with open("marine-e1-ext.json", "r", encoding="utf-8") as json_extended:
    extended_full = json.load(json_extended)

with open("marine-e1-abb.json", "r", encoding= "utf-8") as json_abbreviated:
    abbreviated_full = json.load(json_abbreviated)

In [5]:
len(extended_full)

132

In [6]:
len(abbreviated_full)

132

In [8]:
extended_full[0]

[992271012,
 47.64744,
 -3.509282,
 '2013-10-08T21:50:00',
 'PENMEN',
 'FR',
 '',
 '',
 '',
 '',
 '',
 10,
 10,
 0,
 '',
 '',
 '']

In [50]:
def merge(extended, abbreviated):
    from collections import defaultdict

    merged_boat = defaultdict(list)

    # merged_boat

    for boat in extended:
        if boat[0] not in merged_boat:
            merged_boat[boat[0]].extend([boat[4], boat[5]])
        merged_boat[boat[0]].append(tuple(boat[1:4]))

    for boat in abbreviated:
        merged_boat[boat[0]].append(tuple(boat[1:4]))
        
    return merged_boat

In [11]:
len(extended + abbreviated)

6

In [18]:
{boat[0]: boat[0] for boat in extended + abbreviated}

{255801560: 255801560,
 227844000: 227844000,
 227254910: 227254910,
 992271012: 992271012}

In [20]:
[boat[0] for boat in extended + abbreviated]

[255801560, 227844000, 227254910, 227844000, 992271012, 255801560]

### Convert a list to a tuple

In [28]:
tuple(extended[1][1:4])

(47.23206, -2.913887, '2013-10-08T21:51:00')

### index list

In [49]:
def index(extended):
    return { entry[0]: entry for entry in extended}

### Use defaultdict from collections to initialize a list value dict

In [ ]:
from collections import defaultdict

merged_boat = defaultdict(list)

merged_boat

for boat in extended + abbreviated:
    merged_boat[boat[0]].append(tuple(boat[1:4]))

In [33]:
merged_boat

defaultdict(list,
            {255801560: [(49.3815, -4.412167, '2013-10-08T21:51:00'),
              (49.25383, -4.784833, '2013-10-08T22:59:00')],
             227844000: [(47.23206, -2.913887, '2013-10-08T21:51:00'),
              (47.13057, -3.126982, '2013-10-08T22:58:00')],
             227254910: [(49.94479, -5.137455, '2013-10-08T21:51:00')],
             992271012: [(47.64748, -3.509307, '2013-10-08T22:56:00')]})

In [27]:
tuple(extended[1][1:4])

(47.23206, -2.913887, '2013-10-08T21:51:00')

Check if a boat is already in the merged dictionary

In [43]:
255801560 in merged_boat

True

In [47]:
from collections import defaultdict

merged_boat = defaultdict(list)

# merged_boat

for boat in extended:
    if boat[0] not in merged_boat:
        merged_boat[boat[0]].extend([boat[4], boat[5]])
    merged_boat[boat[0]].append(tuple(boat[1:4]))

for boat in abbreviated:
    merged_boat[boat[0]].append(tuple(boat[1:4]))

In [48]:
merged_boat

defaultdict(list,
            {255801560: ['AUTOPRIDE',
              'PT',
              (49.3815, -4.412167, '2013-10-08T21:51:00'),
              (49.25383, -4.784833, '2013-10-08T22:59:00')],
             227844000: ['NEPTUNE III',
              'FR',
              (47.23206, -2.913887, '2013-10-08T21:51:00'),
              (47.13057, -3.126982, '2013-10-08T22:58:00')],
             227254910: ['LAURELINE',
              'FR',
              (49.94479, -5.137455, '2013-10-08T21:51:00')],
             992271012: [(47.64748, -3.509307, '2013-10-08T22:56:00')]})

In [43]:
255801560 in merged_boat

True

In [51]:
merged_full = merge(extended_full, abbreviated_full)

In [52]:
len(merged_full)

132

In [53]:
merged_full

defaultdict(list,
            {992271012: ['PENMEN',
              'FR',
              (47.64744, -3.509282, '2013-10-08T21:50:00'),
              (47.64748, -3.509307, '2013-10-08T22:56:00')],
             227254910: ['LAURELINE',
              'FR',
              (49.94479, -5.137455, '2013-10-08T21:51:00'),
              (49.91799, -5.315172, '2013-10-08T22:59:00')],
             227844000: ['NEPTUNE III',
              'FR',
              (47.23206, -2.913887, '2013-10-08T21:51:00'),
              (47.13057, -3.126982, '2013-10-08T22:58:00')],
             255801560: ['AUTOPRIDE',
              'PT',
              (49.3815, -4.412167, '2013-10-08T21:51:00'),
              (49.25383, -4.784833, '2013-10-08T22:59:00')],
             220002000: ['ELSE MARIE THERESA',
              'DK',
              (48.34313, -5.952897, '2013-10-08T21:51:00'),
              (48.53522, -5.795955, '2013-10-08T22:59:00')],
             636011006: ['MOSCOW KREMLIN',
              'LR',
              (49.78063, -3.478962, '2013-10-08T21:51:00'),
              (49.67325, -3.762168, '2013-10-08T22:56:00')],
             227468000: ['NOMINOE',
              'FR',
              (49.98365, -4.161598, '2013-10-08T21:51:00'),
              (49.99281, -4.087612, '2013-10-08T22:59:00')],
             355426000: ['AYLIN',
              'PA',
              (48.69255, -5.660868, '2013-10-08T21:51:00'),
              (48.81775, -5.463417, '2013-10-08T22:59:00')],
             228965000: ['DACANI',
              'FR',
              (49.78485, -4.971265, '2013-10-08T21:51:00'),
              (49.78937, -4.996112, '2013-10-08T22:59:00')],
             305643000: ['MEERA',
              'AG',
              (49.20683, -4.39299, '2013-10-08T21:51:00'),
              (49.32893, -4.080227, '2013-10-08T22:59:00')],
             228017700: ['FROMVEUR II',
              'FR',
              (47.87564, -3.907262, '2013-10-08T21:50:00'),
              (47.87563, -3.907227, '2013-10-08T22:56:00')],
             538004150: ['EMERALD EXPRESS',
              'MH',
              (49.96456, -3.806348, '2013-10-08T21:51:00'),
              (49.96489, -4.18421, '2013-10-08T22:58:00')],
             228037700: ['SPERED BREIZH',
              'FR',
              (48.21629, -4.744727, '2013-10-08T21:51:00'),
              (48.28083, -4.75007, '2013-10-08T22:58:00')],
             236111974: ['ATLANTIC WIND',
              'GI',
              (48.78286, -5.59124, '2013-10-08T21:51:00'),
              (48.89256, -5.30519, '2013-10-08T22:59:00')],
             228020600: ['BESAME',
              'FR',
              (47.27835, -4.861617, '2013-10-08T21:50:00'),
              (47.32058, -4.90895, '2013-10-08T22:58:00')],
             228874000: ['TOUR DAUVERGNE',
              'FR',
              (47.86892, -5.030262, '2013-10-08T21:51:00'),
              (47.90205, -5.008613, '2013-10-08T22:59:00')],
             354512000: ['RED IRIS',
              'PA',
              (49.64845, -3.332217, '2013-10-08T21:51:00'),
              (49.79435, -2.971, '2013-10-08T22:59:00')],
             248013000: ['CMA CGM PEGASUS',
              'MT',
              (49.52892, -4.089995, '2013-10-08T21:51:00'),
              (49.34335, -4.583175, '2013-10-08T22:59:00')],
             228213700: ['KAN AR MOOR',
              'FR',
              (47.79212, -4.48831, '2013-10-08T21:51:00'),
              (47.80736, -4.505932, '2013-10-08T22:59:00')],
             227811000: ['KELOU MAD',
              'FR',
              (49.61172, -4.970078, '2013-10-08T21:51:00'),
              (49.59966, -5.032943, '2013-10-08T22:59:00')],
             636014285: ['HORIZON THEANO',
              'LR',
              (49.49093, -4.791483, '2013-10-08T21:51:00'),
              (49.3684, -5.097167, '2013-10-08T22:58:00')],
             538090289: ['VEGA',
              'MH',
              (49.24173, -5.561636, '2013-10-08T21:51:00'),
              (49.33307, -5.139573, '2013-10-08T22:59:00')],
             228236000: ['COPPELIA',
              'FR',
              (47.82536, -5.332005, '2013-10-08T21:51:00'),
              (47.81358, -5.060462, '2013-10-08T22:59:00')],
             992271008: ['SEMREV METEO',
              'FR',
              (47.24397, -2.776385, '2013-10-08T21:51:00'),
              (47.244, -2.77646, '2013-10-08T22:57:00')],
             566827000: ['HUA AN CHENG',
              'SG',
              (48.71872, -5.662608, '2013-10-08T21:51:00'),
              (48.88132, -5.426553, '2013-10-08T22:58:00')],
             248835000: ['WILSON ALICANTE',
              'MT',
              (48.94755, -5.114336, '2013-10-08T21:50:00'),
              (49.03098, -4.902318, '2013-10-08T22:58:00')],
             373207000: ['SILVER SUN',
              'PA',
              (49.13324, -5.226802, '2013-10-08T21:51:00'),
              (48.99255, -5.579033, '2013-10-08T22:59:00')],
             226318000: ['CAP FINISTERE',
              'FR',
              (48.34783, -4.813, '2013-10-08T21:51:00'),
              (48.6585, -4.755667, '2013-10-08T22:59:00')],
             227558000: ['BOREE AL',
              'FR',
              (49.93307, -5.868155, '2013-10-08T21:51:00'),
              (49.85877, -5.623247, '2013-10-08T22:59:00')],
             565327000: ['SICHEM CHALLENGE',
              'SG',
              (47.6284, -4.956212, '2013-10-08T21:51:00'),
              (47.72535, -5.223247, '2013-10-08T22:59:00')],
             226216000: ['DAMIEN FLORENT',
              'FR',
              (47.83561, -4.17512, '2013-10-08T21:51:00'),
              (47.83561, -4.175097, '2013-10-08T22:59:00')],
             227753180: ['SENOR BLUE SOLO SAIL',
              'FR',
              (48.09193, -4.33383, '2013-10-08T21:51:00'),
              (48.09195, -4.333802, '2013-10-08T22:57:00')],
             226179000: ['HORIZON',
              'FR',
              (48.43703, -5.041708, '2013-10-08T21:51:00'),
              (48.52082, -4.92759, '2013-10-08T22:59:00')],
             220564000: ['TORM MADISON',
              'DK',
              (49.78787, -5.228542, '2013-10-08T21:51:00'),
              (49.75946, -5.627913, '2013-10-08T22:59:00')],
             228109000: ['KAN AN AEL',
              'FR',
              (48.21843, -4.996732, '2013-10-08T21:51:00'),
              (48.18373, -5.049758, '2013-10-08T22:58:00')],
             305318000: ['NORWIND',
              'AG',
              (47.58, -5.4975, '2013-10-08T21:51:00'),
              (47.65783, -5.491167, '2013-10-08T22:59:00')],
             227300000: ['MIREN',
              'FR',
              (48.17495, -4.8143, '2013-10-08T21:51:00'),
              (48.16333, -4.836515, '2013-10-08T22:59:00')],
             228258000: ['MANATHIA',
              'FR',
              (47.74918, -5.158198, '2013-10-08T21:51:00'),
              (47.75048, -5.121545, '2013-10-08T22:59:00')],
             245718000: ['AMAZONE',
              'NL',
              (49.8989, -5.240509, '2013-10-08T21:51:00'),
              (49.92569, -5.524793, '2013-10-08T22:59:00')],
             235011020: ['PETER SCHULTE',
              'UK',
              (48.5075, -5.789583, '2013-10-08T21:51:00'),
              (48.66142, -5.677567, '2013-10-08T22:59:00')],
             227590980: ['EN AVANT',
              'FR',
              (48.11766, -4.497102, '2013-10-08T21:51:00'),
              (48.09805, -4.324113, '2013-10-08T22:58:00')],
             227056460: ['EMPEDOCLE',
              'FR',
              (47.73867, -4.155402, '2013-10-08T21:51:00'),
              (47.68462, -4.24101, '2013-10-08T22:59:00')],
             228281000: ['LIOU AN AMZER',
              'FR',
              (47.35388, -5.627703, '2013-10-08T21:51:00'),
              (47.29441, -5.63287, '2013-10-08T22:59:00')],
             219084000: ['TERNLAND',
              'DK',
              (49.79456, -5.339149, '2013-10-08T21:51:00'),
              (49.79928, -5.031792, '2013-10-08T22:59:00')],
             370096000: ['LOWLANDS SERENITY',
              'PA',
              (48.74815, -5.652073, '2013-10-08T21:51:00'),
              (48.87693, -5.395278, '2013-10-08T22:59:00')],
             227346000: ['ILE DE SIECK',
              'FR',
              (49.74681, -5.108253, '2013-10-08T21:51:00'),
              (49.75789, -5.151495, '2013-10-08T22:58:00')],
             355031000: ['ANTARCTICGAS',
              'PA',
              (48.38582, -4.4592, '2013-10-08T21:50:00'),
              (48.3858, -4.459133, '2013-10-08T22:56:00')],
             228240600: ['QUENTIN GREGOIRE',
              'FR',
              (47.22783, -2.850353, '2013-10-08T21:51:00'),
              (47.22262, -2.786693, '2013-10-08T22:58:00')],
             566914000: ['MTM YANGON',
              'SG',
              (49.64962, -3.379822, '2013-10-08T21:51:00'),
              (49.78939, -3.029018, '2013-10-08T22:59:00')],
             228282000: ['CHALLENGER',
              'FR',
              (47.61247, -5.248965, '2013-10-08T21:51:00'),
              (47.56697, -5.282368, '2013-10-08T22:59:00')],
             228880000: ['IN TROUN VARIA',
              'FR',
              (48.69999, -4.508823, '2013-10-08T21:51:00'),
              (48.6127, -4.791225, '2013-10-08T22:59:00')],
             228051000: ['SAINT DENIS',
              'FR',
              (48.38112, -4.484543, '2013-10-08T21:50:00'),
              (48.38113, -4.48455, '2013-10-08T22:58:00')],
             228194000: ['MATMACO',
              'FR',
              (47.29823, -2.51334, '2013-10-08T21:51:00'),
              (47.21244, -2.608755, '2013-10-08T22:59:00')],
             477346300: ['CMB KRISTINE',
              'HK',
              (49.11599, -5.211428, '2013-10-08T21:51:00'),
              (49.00058, -5.503775, '2013-10-08T22:56:00')],
             538090174: ['CAPE BARI',
              'MH',
              (49.08267, -4.836733, '2013-10-08T21:51:00'),
              (49.2071, -4.519067, '2013-10-08T22:59:00')],
             228026000: ['ALCYON',
              'FR',
              (48.37122, -4.512417, '2013-10-08T21:50:00'),
              (48.37132, -4.5124, '2013-10-08T22:59:00')],
             228893000: ['LE COMMODORE',
              'FR',
              (47.79529, -4.278713, '2013-10-08T21:50:00'),
              (47.79529, -4.278713, '2013-10-08T22:51:00')],
             235068406: ['MFV LADY T EMIEL',
              'UK',
              (49.96379, -3.033133, '2013-10-08T21:51:00'),
              (49.96071, -2.989258, '2013-10-08T22:59:00')],
             227317000: ['SAMANA',
              'FR',
              (47.21692, -2.9033, '2013-10-08T21:51:00'),
              (47.12436, -3.118577, '2013-10-08T22:55:00')],
             227319570: ['LISANAIS',
              'FR',
              (47.80793, -4.478915, '2013-10-08T21:51:00'),
              (47.81561, -4.38136, '2013-10-08T22:59:00')],
             228302900: ['MIRENTXU 1',
              'FR',
              (47.80059, -4.439734, '2013-10-08T21:51:00'),
              (47.75018, -4.238642, '2013-10-08T22:57:00')],
             256832000: ['PORTOROZ',
              'MT',
              (49.72318, -5.032735, '2013-10-08T21:51:00'),
              (49.71953, -5.406785, '2013-10-08T22:59:00')],
             227525000: ['ETOILE POLAIRE 3',
              'FR',
              (47.79168, -4.487017, '2013-10-08T21:51:00'),
              (47.75272, -4.245247, '2013-10-08T22:59:00')],
             228332000: ['MANGA-REVA',
              'FR',
              (47.66879, -4.978617, '2013-10-08T21:51:00'),
              (47.60832, -4.960333, '2013-10-08T22:58:00')],
             235095972: ['STOLT SANDERLING',
              'UK',
              (49.82031, -5.692443, '2013-10-08T21:51:00'),
              (49.80688, -5.364368, '2013-10-08T22:59:00')],
             227474000: ['KERFLOUS',
              'FR',
              (48.42305, -5.595002, '2013-10-08T21:51:00'),
              (48.37235, -5.67112, '2013-10-08T22:53:00')],
             305709000: ['LISA',
              'AG',
              (47.08392, -2.904308, '2013-10-08T21:51:00'),
              (47.17256, -3.246557, '2013-10-08T22:59:00')],
             249546000: ['CLIPPER BURGUNDY',
              'MT',
              (47.11167, -2.920667, '2013-10-08T21:51:00'),
              (47.20917, -3.136833, '2013-10-08T22:59:00')],
             245088000: ['ENERGIZER',
              'NL',
              (49.73051, -5.937058, '2013-10-08T21:51:00'),
              (49.95044, -5.90276, '2013-10-08T22:59:00')],
             352171000: ['TRANS TRADER',
              'PA',
              (49.81775, -5.387267, '2013-10-08T21:51:00'),
              (49.81816, -4.97235, '2013-10-08T22:59:00')],
             227323100: ['TOP 50',
              'FR',
              (47.96912, -4.616795, '2013-10-08T21:51:00'),
              (47.98185, -4.668835, '2013-10-08T22:58:00')],
             227128800: ['COTE DAMBRE',
              'FR',
              (47.27041, -3.412178, '2013-10-08T21:51:00'),
              (47.42093, -3.393342, '2013-10-08T22:58:00')],
             228131600: ['LE NATIF 2',
              'FR',
              (47.17159, -2.944658, '2013-10-08T21:51:00'),
              (47.2552, -2.79065, '2013-10-08T22:59:00')],
             227905000: ['SERGAGIL',
              'FR',
              (47.54958, -5.174688, '2013-10-08T21:51:00'),
              (47.48582, -5.396065, '2013-10-08T22:58:00')],
             304655000: ['ELBETOR',
              'AG',
              (48.77102, -2.701543, '2013-10-08T21:51:00'),
              (48.94182, -2.835105, '2013-10-08T22:59:00')],
             228920000: ['VILLE CROISIC 5',
              'FR',
              (47.22122, -2.805295, '2013-10-08T21:51:00'),
              (47.18962, -2.788198, '2013-10-08T22:59:00')],
             265000000: ['RESCUE 8-32',
              'SE',
              (48.39282, -4.467778, '2013-10-08T21:51:00'),
              (48.39282, -4.467778, '2013-10-08T22:59:00')],
             245180000: ['OSTGARD',
              'NL',
              (47.03267, -2.681333, '2013-10-08T21:51:00'),
              (47.04617, -2.975, '2013-10-08T22:51:00')],
             210688000: ['AMAZONITH',
              'CY',
              (49.8458, -5.1113, '2013-10-08T21:51:00'),
              (49.84245, -4.804717, '2013-10-08T22:58:00')],
             477158700: ['XIN LOS ANGELES',
              'HK',
              (49.16, -4.6235, '2013-10-08T21:51:00'),
              (49.3158, -4.223267, '2013-10-08T22:56:00')],
             211135000: ['SEASHARK',
              'DE',
              (49.6378, -3.84907, '2013-10-08T21:51:00'),
              (49.52694, -4.131502, '2013-10-08T22:56:00')],
             227867000: ['KREIZ AR MOR',
              'FR',
              (48.09903, -4.88166, '2013-10-08T21:51:00'),
              (48.07771, -5.153285, '2013-10-08T22:59:00')],
             255805450: ['LA SURPRISE',
              'PT',
              (49.03718, -5.392867, '2013-10-08T21:51:00'),
              (48.85957, -5.795033, '2013-10-08T22:58:00')],
             304633000: ['BF CONFIANZA',
              'AG',
              (48.57483, -5.864, '2013-10-08T21:51:00'),
              (48.28983, -5.607167, '2013-10-08T22:57:00')],
             246301000: ['NOVA K',
              'NL',
              (49.90608, -5.030113, '2013-10-08T21:51:00'),
              (49.93127, -4.817883, '2013-10-08T22:58:00')],
             212109000: ['CEMVALE',
              'CY',
              (48.30966, -4.654525, '2013-10-08T21:51:00'),
              (48.38053, -4.472152, '2013-10-08T22:59:00')],
             228160000: ['LESK NE DA LAR',
              'FR',
              (47.81335, -4.45175, '2013-10-08T21:50:00'),
              (47.77127, -4.470817, '2013-10-08T22:59:00')],
             228156900: ['BERCEAU DE LOCE',
              'FR',
              (47.83241, -4.56242, '2013-10-08T21:50:00'),
              (47.80069, -4.484127, '2013-10-08T22:59:00')],
             228827000: ['OCEANE',
              'FR',
              (48.71959, -4.455845, '2013-10-08T21:51:00'),
              (48.70275, -4.726368, '2013-10-08T22:59:00')],
             538004839: ['ICE GLACIER',
              'MH',
              (48.93857, -5.189929, '2013-10-08T21:51:00'),
              (49.07841, -4.83678, '2013-10-08T22:58:00')],
             232005840: ['JAMES R H PZ78',
              'UK',
              (49.39684, -5.059037, '2013-10-08T21:51:00'),
              (49.36931, -5.120763, '2013-10-08T22:52:00')],
             538090194: ['JOHN RICKMERS',
              'MH',
              (49.89233, -4.554, '2013-10-08T21:51:00'),
              (49.8695, -5.0705, '2013-10-08T22:59:00')],
             224175430: ['ADVIENTO UNO',
              'ES',
              (47.20671, -5.877663, '2013-10-08T21:50:00'),
              (47.21678, -5.869355, '2013-10-08T22:59:00')],
             227019760: ['ADELAIDE 2 SOLO SAIL',
              'FR',
              (48.09201, -4.333462, '2013-10-08T21:51:00'),
              (48.09192, -4.333432, '2013-10-08T22:57:00')],
             304352000: ['HEINRICH G.',
              'AG',
              (49.91166, -5.35286, '2013-10-08T21:51:00'),
              (49.929, -5.061833, '2013-10-08T22:59:00')],
             304754000: ['CANOPUS J',
              'AG',
              (47.86425, -5.3503, '2013-10-08T21:51:00'),
              (48.1233, -5.473017, '2013-10-08T22:59:00')],
             248993000: ['RENE A',
              'MT',
              (48.38073, -4.482847, '2013-10-08T21:51:00'),
              (48.38071, -4.482843, '2013-10-08T22:57:00')],
             232003971: ['PHOENIX',
              'UK',
              (49.5011, -5.162578, '2013-10-08T21:51:00'),
              (49.41885, -5.222767, '2013-10-08T22:59:00')],
             228144000: ['ESPERANZA 2',
              'FR',
              (47.77596, -4.382727, '2013-10-08T21:51:00'),
              (47.75683, -4.191057, '2013-10-08T22:59:00')],
             227635680: ['BASSE GOUACH',
              'FR',
              (48.1294, -4.642078, '2013-10-08T21:50:00'),
              (48.09083, -4.618001, '2013-10-08T22:58:00')],
             228208700: ['VAG A LAMM',
              'FR',
              (48.29198, -4.73096, '2013-10-08T21:51:00'),
              (48.26585, -4.720644, '2013-10-08T22:59:00')],
             477188500: ['ANSAC PRIDE',
              'HK',
              (49.07116, -4.831073, '2013-10-08T21:51:00'),
              (49.19563, -4.531655, '2013-10-08T22:58:00')],
             305364000: ['TIWALA',
              'AG',
              (49.29212, -4.766792, '2013-10-08T21:51:00'),
              (49.18884, -5.035705, '2013-10-08T22:59:00')],
             304407000: ['ULRIKE G.',
              'AG',
              (48.74092, -2.71685, '2013-10-08T21:51:00'),
              (48.9349, -2.626583, '2013-10-08T22:59:00')],
             227318020: ['NOTREDAMEDELAJOIE',
              'FR',
              (47.82995, -4.57133, '2013-10-08T21:51:00'),
              (47.80202, -4.506523, '2013-10-08T22:59:00')],
             309481000: ['ARCTIC DISCOVERER',
              'BS',
              (49.53614, -4.516, '2013-10-08T21:51:00'),
              (49.62059, -4.073437, '2013-10-08T22:59:00')],
             228167900: ['STEREDEN AR MOOR',
              'FR',
              (48.29191, -4.728633, '2013-10-08T21:51:00'),
              (48.25955, -4.70674, '2013-10-08T22:59:00')],
             538090377: ['FREDERIKE SELMER',
              'MH',
              (49.20726, -4.445098, '2013-10-08T21:51:00'),
              (49.29314, -4.212956, '2013-10-08T22:55:00')],
             227430000: ['ARVORIG',
              'FR',
              (47.65347, -5.390562, '2013-10-08T21:51:00'),
              (47.59057, -5.42489, '2013-10-08T22:58:00')],
             992351028: ['CHANNEL LIGHTVESSEL',
              'UK',
              (49.90877, -2.892853, '2013-10-08T21:50:00'),
              (49.90871, -2.892892, '2013-10-08T22:57:00')],
             273111100: ['FEDOR VARAKSIN',
              'RU',
              (49.60538, -3.891883, '2013-10-08T21:51:00'),
              (49.49653, -4.166817, '2013-10-08T22:55:00')],